/*
Template Name: Academic Education
File: Navigation CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

nav {
	border-radius:10px;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
		z-index: 10;
		
	}
		nav ul ul li a {
			padding: 5px 23px;
			color: #fff;
			background: #5f6975;
		}	
			nav ul ul li a:hover {
				background: #4B545F;
			}

nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
	
nav ul {
	 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 30px;
	border-radius: 5px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a  {
		display: block; padding: 20px 15px;
		color: #757575; text-decoration: none;
	}
	nav ul li a:hover  {
		background: #5f6975;
	}
	
/* ----------------------------------------------Column Navigation-------------------------------------*/

#column .subnav{
	display:block;
	width:150px;
	padding:25px;
	background-color:#F7F7F7;
	margin-bottom:30px;
	line-height:normal;
	}

#column .subnav h2{
	margin:0 0 20px 0;
	padding:0 0 14px 0;
	background-color:#F7F7F7;
	border-bottom:1px dotted #666666;
	}

#column .subnav ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#column .subnav li{
	margin:0 0 3px 0;
	padding:0;
	}

#column .subnav ul ul, #column .subnav ul ul ul, #column .subnav ul ul ul ul, #column .subnav ul ul ul ul ul{
	border-top:none;
	padding-top:0;
	}

#column .subnav a{
	display:block;
	margin:0;
	padding:5px 10px 5px 20px;
	color:#666666;
	background:url("../images/blue_file.gif") no-repeat 10px center #F7F7F7;
	text-decoration:none;
	border-bottom:1px dotted #666666;
	}

#column .subnav a:hover{
	color:#55ABDA;
	background-color:#F7F7F7;
	}

#column .subnav ul ul a, #column .subnav ul ul ul a, #column .subnav ul ul ul ul a, #column .subnav ul ul ul ul ul a{
	background:url("../images/black_file.gif") no-repeat #F7F7F7;
	}

#column .subnav ul ul a{
	padding-left:40px;
	background-position:30px center;
	}

#column .subnav ul ul ul a{
	padding-left:50px;
	background-position:40px center;
	}

#column .subnav ul ul ul ul a{
	padding-left:60px;
	background-position:50px center;
	}

#column .subnav ul ul ul ul ul a{
	padding-left:70px;
	background-position:60px center;
	}

/* ----------------------------------------------Pagination-------------------------------------*/

.pagination{
	display:block;
	width:100%;
	clear:both;
	text-align:center;
	}

.pagination ul{
	margin:0;
	padding:0;
	list-style:none;
	}

.pagination li{
	display:inline;
	}

.pagination .next{
	margin:0;
	}

.pagination a{
	display:inline-block;
	margin:0 2px 0 0;
	padding:2px 5px 3px 5px;
	border:1px solid #D8D9DE;
	}

.pagination .current, .pagination .splitter{
	margin:0 2px 0 0;
	padding:6px;
	}

#container .pagination a:hover, .pagination .current, .pagination .splitter{
	color:#979797;
	background-color:#FFFFFF;
	}